*,
*::before,
*::after
  box-sizing: border-box


body
  font-family: $font-family
  font-size: $font-size
  font-weight: $font-weight
  line-height: $line-height
  color: $text-color
  background-color: $body-bg


a
  color: $text-color
  text-decoration: none

