// Mixins

@mixin createButton($color, $bg, $p, $m, $w)
  color: $color
  padding: $p
  width: $w
  background: $bg
  font-size: 14px
  text-align: center
  text-transform: uppercase
  border-radius: 4px
  font-weight: 400
  display: block
  cursor: pointer
  transition: .2s
  &:hover
    background-color: black
    color: white




@mixin flex()
  display: flex


@mixin flexWrap()
  flex-wrap: wrap


@mixin flexColumn()
  display: flex
  flex-direction: column


@mixin columnCenter()
  display: flex
  flex-direction: column
  justify-content: center



@mixin columnFullCenter()
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center


@mixin rowCenter()
  display: flex
  justify-content: center


@mixin rowFullCenter()
  display: flex
  justify-content: center
  align-items: center


@mixin rowSpaceAroundCenter()
  display: flex
  align-items: center
  justify-content: space-around



@mixin truncateText()
  white-space: nowrap
  overflow: hidden
  text-overflow: ellipsis

