@import "../../styles/main"

.cardsItem
  display: flex
  @include flexWrap
  justify-content: center
  margin: 5px

.card
  @include columnCenter
  padding: 5px
  margin: 10px
  width: 300px
  height: auto
  border-radius: 5px
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2)
  overflow: hidden


.cardContent
  margin: 5px
  background: white


.cardTitle
  font-size: 18px
  text-transform: capitalize
  margin: 0

.cardImage
  margin: 0 auto
  height: auto
  padding: 30px
  vertical-align: middle


.cardCompany
  font-size: 12px
  font-weight: bold

.cardStatus
  font-size: 12px
  font-weight: bold
  color: forestgreen

.btn
  @include createButton(black, transparent, 0.8rem, 5, 100%)
  border: 1px solid black



