@import "../../styles/main"

.mainHeader .container
  @include rowSpaceAroundCenter
  @include flexWrap

.container
  padding: 20px
  margin: 0 auto


.logo img
  max-width: 100%
  height: auto

.mainNav
  @include rowFullCenter

.mainNav ul
  text-align: center
  padding: 0


.mainNav li
  display: inline

.mainNav a
  display: inline-block
  padding: 8px
  margin: 5px
  text-decoration: none
  color: black
  transition: .2s

.mainNav a:hover
  transform: scale(1.1)



