@import "../../styles/main"

footer
  @include rowFullCenter
  margin-top: 10px
  padding: 8px
  height: auto
  background-color: #eee

.leftSide
  font-size: 14px
  flex: 1

.leftSide a
  text-decoration: none

.middle
  margin: 0 auto
  flex: 1

.rightSide ul
  @include flex
  padding: 0
  flex: 1

.rightSide li
  list-style-type: none

.rightSide a
  text-align: center
  padding: 8px
  text-decoration: none

.rightSide svg:hover
  transform: scale(1.2)

@media (max-width: 768px)
  footer
    flex-direction: column
  .leftSide
    margin-bottom: 10px

